<div class="container">
    <h1 class="text-center">Cadastro de Fotos</h1>

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form [formGroup]="meuForm" class="row" (submit)="cadastrar($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input formControlName="titulo" name="titulo" [(ngModel)]="foto.titulo" class="form-control" autocomplete="off">    
                <div *ngIf="meuForm.controls.titulo.invalid">
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Titulo obrigatorio
                    </span>
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Titulo deve ter no minimo 4 caracteres
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input formControlName="url" name="url" [(ngModel)]="foto.url" class="form-control" autocomplete="off">
                <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    Url obrigatoria
                </span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea formControlName="descricao" name="descricao" [(ngModel)]="foto.descricao" class="form-control" autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">
                Salvar
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">{{foto.titulo}}</h2>
            <foto url="{{foto.url}}"></foto>
        </div>
    </form>
</div>